<div>
  <div>
    <h1>
      Comment #<%= @the_comment.id %> details
    </h1>

    <div>
      <div>
        <a href="/comments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_comment/<%= @the_comment.id %>">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Comment text
      </dt>
      <dd>
        <%= @the_comment.comment_text %>
      </dd>

      <dt>
        Recipe
      </dt>
      <dd>
        <%= @the_comment.recipe_id %>
      </dd>

      <dt>
        Commentor
      </dt>
      <dd>
        <%= @the_comment.commentor_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >
      <div>
        <label for="comment_text_box">
          Comment text
        </label>

        <input type="text" id="comment_text_box" name="query_comment_text" value="<%= @the_comment.comment_text %>">
      </div>

      <div>
        <label for="recipe_id_box">
          Recipe
        </label>

        <input type="text" id="recipe_id_box" name="query_recipe_id" value="<%= @the_comment.recipe_id %>">
      </div>

      <div>
        <label for="commentor_id_box">
          Commentor
        </label>

        <input type="text" id="commentor_id_box" name="query_commentor_id" value="<%= @the_comment.commentor_id %>">
      </div>

      <button>
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
