<div>
  <div>
    <h1>
      Recipe #<%= @the_recipe.id %> details
    </h1>

    <div>
      <div>
        <a href="/recipes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recipe/<%= @the_recipe.id %>">
          Delete recipe
        </a>
      </div>
      <div>
        <a href="/like_recipe/<%= @the_recipe.id %>">
          Like this Recipe
        </a>
      </div>
      <div>
        <a href="/unlike_recipe/<%= @the_recipe.id %>">
          Unike this Recipe
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_recipe.owner.full_name %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_recipe.category %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_recipe.description %>
      </dd>

      <dt>
        Length to make
      </dt>
      <dd>
        <%= @the_recipe.length_to_make %>
      </dd>

      <dt>
        Picture 
      </dt>
      <dd>
        <img src="<%= @the_recipe.picture %>" alt="<%= @the_recipe.food_name %>" />
      </dd>

      <dt>
        Food name
      </dt>
      <dd>
        <%= @the_recipe.food_name %>
      </dd>

      <dt>
        Recipe URL
      </dt>
      <dd>
        <a href="<%= @the_recipe.recipe_url %>" target="_blank">
          Go to recipe URL
        </a>

      </dd>

    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit recipe
    </h2>

    <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
      <div>

        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_recipe.owner_id %>" >
      </div>

      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category" value="<%= @the_recipe.category %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_recipe.description %>">
      </div>

      <div>
        <label for="length_to_make_box">
          Length to make
        </label>

        <input type="integer" id="length_to_make_box" name="query_length_to_make" value="<%= @the_recipe.length_to_make %>">
      </div>

      <div>
        <label for="picture_box">
          Picture URL
        </label>

        <textarea id="picture_box" name="query_picture"><%= @the_recipe.picture %></textarea>
      </div>

      <div>
        <label for="food_name_box">
          Food name
        </label>

        <input type="text" id="food_name_box" name="query_food_name" value="<%= @the_recipe.food_name %>">
      </div>
      <div>
        <label for="recipe_url_box">
          Recipe URL
        </label>

        <input type="text" id="recipe_url_box" name="query_recipe_url" value="<%= @the_recipe.recipe_url %>">
      </div>
      <button>
        Update recipe
      </button>
    </form>
  </div>
</div>

<hr>
